<div class="container">
    <div class="top">
        <h1>Informations Personnelles</h1>
        <hr><br>
        <form class="formlaire">
            <div class="row">
                <div class="left">
                    <label>Nom*</label><br>
                <input type="text" required>
                </div>
                <div class="right">
                    <label>Prenom*</label><br>
                <input type="text" required>
                </div>
                
                
            </div>
            <div class="row">
                <div class="left">
                    <label for="cars">Piece d'identite*</label><br>

                    <select name="pi" id="pi">
                    <option value="cin">C.I.N</option>
                    <option value="permis">Permis de conduite</option>
                    <option value="passport">Passport</option>
                    
                    </select>
                </div>
                <div class="right">
                    <label>N piece d'identite*</label><br>
                    <input type="text" required>
                </div>
                
            </div>
            <div class="row">
                <div class="left">
                    <label>Date de naissance*</label><br>
                <input type="text" required>
                </div>
                <div class="right">
                    <label>Adresse*</label><br>
                <input type="text" required>
                </div>
                
                
            </div>
            <div class="row">
                <div class="left">
                    <label>Email*</label><br>
                <input type="text" required>
                </div>
                <div class="right">
                    <label>Confirmation email*</label><br>
                    <input type="text" required>
                </div>
                
               
            </div>
            <div class="row">
                <div class="left">
                    <label>Numero de telephone*</label><br>
                <input type="text" required>
                </div>
                <div class="right">
                    <label>N d'immatriculation au registre de commerce*</label><br>
                <input type="text" required>
                </div>
                
                
            </div>
            <div class="patente">
                <div class="left">
                    <label>N de patente*</label><br>
                <input type="text" required>
                </div>
                <div class="right">

                </div>
            </div>
            
        </form>
    </div><br><br>
    <hr class="normal">
    <div class="bottom">
        <h1>Pieces jointes</h1>
        <hr><br>
        <div class="rowtwo">
            <div class="col">
                <label>Description</label><br>
            <input type="text">
            </div>
            <div class="col">
                <label>Fichier</label><br>
            <div class="fichier">
                <input type="button" value="parcourir">
            </div>
            </div>
            <div class="col">
                <input class="add" type="button" value="+">
            </div>
            
            
        </div>
    </div>
    <div class="confirme">
        <input type="button" value="Enregistrer" class="ok">
        <input type="button" value="Annuler" class="ok">
    </div>
</div>

